<!DOCTYPE html>
<html
        lang="en"
        th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}"
>
<head>
    <title data-th-text="${user.username}+' |  Profile'">
        Profile Page
    </title>

</head>
<body>
<div id="content">
    <!-- sidebar -->

    <!-- user is logged in : sidebar -->

    <div th:if="${user}">
        <div data-th-replace="~{user/sidebar :: sidebar}"></div>
    </div>

    <div class="sm:pl-64 pt-20" style="height: 1000px">
        <div class="flex items-center justify-center md:pt-32 flex-col">
            <!--  profie card -->
            <div class="bg-white dark:bg-gray-800 p-6 rounded-lg shadow-lg max-w-2xl w-full">
                <div class="flex flex-col items-center">
                    <img data-th-src="@{*{user.profilepic}}" src="" alt="Profile Photo" class="w-44 h-44 rounded-full shadow-lg object-cover mb-4">
                    <h2 class="text-2xl font-semibold mb-2" data-th-text=*{user.username}>User Name</h2>
                    <p class="text-gray-600 mb-2" data-th-text="*{user.email}">user.email@example.com</p>
                    <p class="text-gray-600 mb-2"> Phone no :- <span data-th-text="${user.phonenumber}">123-456-7890> </span></p>
                    <p class="text-gray-600 mb-4 text-center" data-th-text="${user.about}">About the user...</p>
                    <div class="w-full flex justify-between">
                        <p class="text-sm text-gray-500">Email Verified: <span class="font-medium text-gray-700" id="email-verified" data-th-text="${user.emailverified ? 'YES':'NO'}">No</span></p>
                        <p class="text-sm text-gray-500">Phone Verified: <span class="font-medium text-gray-700" id="phone-verified" data-th-text="${user.phoneverified ? 'YES':'NO'}">No</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        console.log("this is profile page");
    </script>
</body>
</html>

